@layout PlainLayout
@page "/contact"

<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
</section>


<!--Start Contact Us
    =========================================== -->
<section class="contact-us" id="contact">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="col-12">
                <div class="title text-center">
                    <h2>Get In Touch</h2>
                    <p></p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Contact Details -->
            <div class="contact-details col-md-6 ">
                <h3>Contact Details</h3>
                <p>UNREEA</p>
                <ul class="contact-short-info">
                    <li>
                        <i class="tf-ion-ios-home"></i>
                        <span>Ministry of Energy and Mineral Development. Amber House,Plot 29/33, Kampala Rd. Kampala, Uganda</span>
                    </li>
                    <li>
                        <i class="tf-ion-android-phone-portrait"></i>
                        <span>Phone: +256 - 414-699577</span>
                    </li>
                    <li>
                        <i class="tf-ion-android-globe"></i>
                        <span>Fax: </span>
                    </li>
                    <li>
                        <i class="tf-ion-android-mail"></i>
                        <span>Email: info@unreeea.org</span>
                    </li>
                </ul>
                <!-- Footer Social Links -->
                <div class="social-icon">
                    <ul>
                        <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-linkedin-outline"></i></a></li>
                    </ul>
                </div>
                <!--/. End Footer Social Links -->
            </div>
            <!-- / End Contact Details -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end section -->
<!--Start Contact Us
    =========================================== -->
<section class="contact-us" id="contact">
    <div class="container">
        <div class="row">


            <!-- Contact Details -->
            <div class="contact-details col-md-6 ">
                <h3>Contact Details</h3>
                <p>GOGLA secretariat is based in Amsterdam, The Netherlands. </p>
                <ul class="contact-short-info">
                    <li>
                        <i class="tf-ion-ios-home"></i>
                        <span>GOGLA, Johan Cruijff Boulevard 91, 1101 DM, Amsterdam Zuid-Oost, The Netherlands</span>
                    </li>
                    <li>
                        <i class="tf-ion-android-phone-portrait"></i>
                        <span>Phone: +31 20 2400729</span>
                    </li>
                    <li>
                        <i class="tf-ion-android-globe"></i>
                        <span>Fax: </span>
                    </li>
                    <li>
                        <i class="tf-ion-android-mail"></i>
                        <span>Email: info@gogla.org</span>
                    </li>
                </ul>
                <!-- Footer Social Links -->
                <div class="social-icon">
                    <ul>
                        <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-linkedin-outline"></i></a></li>
                    </ul>
                </div>
                <!--/. End Footer Social Links -->
            </div>
            <!-- / End Contact Details -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end section -->


<!--Start Contact Us
    =========================================== -->
<section class="contact-us" id="contact">
    <div class="container">
        <div class="row">


            <!-- Contact Details -->
            <div class="contact-details col-md-6 ">
                <h3>Contact Details</h3>
                <p>For all enquiries please email tea@carbontrust.com </p>
                
                <!-- Footer Social Links -->
                <div class="social-icon">
                    <ul>
                        <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
                        <li><a href="#"><i class="tf-ion-social-linkedin-outline"></i></a></li>
                    </ul>
                </div>
                <!--/. End Footer Social Links -->
            </div>
            <!-- / End Contact Details -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end section -->
@code {

}
