@layout PlainLayout
@page "/contact"

<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contact Us</h2>                
            </div>
        </div>
    </div>
</section>
<center>
    <div class="col-10">
        <div class="row">
            <div class="col-5"><img src="img/img_main_1.png" class="img-fluid" /></div>
            
            <div class="col-5">
                <div><input type="text" class="form-control mb-2" placeholder="Email Address" /></div>
                <div><textarea rows="4" cols="50" class="form-control mb-2" placeholder="Your Query" /></div>
                <div><button class="btn btn-block">Submit</button></div>
            </div>
        </div>        
    </div>
</center>

@code {

}
