@layout PlainLayout
@page "/exemptproducts"



<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Exempt Products</h2>
            </div>
        </div>
    </div>
</section>


<section class="about" id="about">
    <div class="container">
        <div class="row">


            <div class="col-md-6">
                <img src="img/img_1.png" class="img-fluid" />
            </div>
            <div class="col-md-6">

                <div class="title text-center">
                    <p>
                        From Micro PV to Mini-grids to Utility Scale
                    </p>
                    <div class="border"></div>
                </div>
                <p>In the EAC, the application of PV technology now ranges from calculators to utility scale power generation. In between there are solar lanterns, PV lighting systems, water pumping systems and community scale micro-grids. As the scale increases so does the complexity of the system.</p>

            </div>
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->


<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <p>This section highlights the variation in scale by discussing solar lanterns and solar home systems along with their system components</p>
                <div class="title text-center">
                    <p>
                        PV System components and their description
                    </p>
                    <div class="border"></div>
                    <p>Photovoltaic systems consist of some or all of the following components:</p>
                    <table class="table">
                        <tr>
                            <td>
                                <ul>
                                    <li>PV Panel</li>
                                    <li>Load</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Wiring</li>
                                    <li>Inverter</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Charge controller</li>
                                    <li>
                                        Battery (Deep Cycle
                                        Battery)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <img src="img/img_2.png" class="img-fluid" />
            </div>
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->



<section class="about" id="about">
    <div class="container">
        <div class="row">

            <p>Whether a system has some or all of these components is dependent on factors such as the size, the type of load powered, required current (AC or DC or both) and how it is used (all day or a few hours a day).</p>



            <div class="title text-center">
                <p>
                    PV
                </p>
                <div class="border"></div>
            </div>
            <p>
                Photovoltaic  (PV)  or  solar  cells  are  the
                building blocks of solar panels. They are
                made  of  semiconductor  materials.  They
                convert sunlight into direct current (DC)
                electricity.
                Groups of PV cells are electrically configured
                into modules/panels which can be connected
                into arrays to achieve desired power and
                voltage outputs.
                A photovoltaic array is the complete power-
                generating unit, consisting of any number of PV
                modules and panels.
            </p>


            <div>
                <img src="img/pv_panel_2.png" style="width:300px;" class="img-fluid" />
                <img src="img/pv_panel.png" style="width:300px;" class="img-fluid" />
                <img src="" class="img-fluid" />
            </div>



            <div class="title text-center">
                <p>
                    Charge Controller
                </p>
                <div class="border"></div>
            </div>
            <p>
                The solar charge regulator/charge controller is a voltage and/or current regulator which is connected
                between the solar panel and the battery. Its main function is to manage the charge and discharge of
                the battery and keep the battery pack in good condition.
                The charge controller regulates the voltage and current flowing from the solar panel(s) to the
                battery since most solar panels can produce more than the rated voltage (for example a solar
                panel rated 12 volts can produce up to 20 volts). Without the regulation, the battery will be
                damaged due to overcharging. This is so because the maximum voltage for most batteries is
                between 16 and 15 volts.
                The figure 5 shows a typical solar charge controller. However, they come in various
                forms and designs depending on the application and manufacturer. They vary in terms
                of their working voltage or system voltage and the current that they are supposed to
                handle during operation.
            </p>



            <div>
                <img src="img/charge_controller_1.png" style="width:200px;" class="img-fluid" />
                <img src="img/charge_controller_2.png" style="width:200px;" class="img-fluid" />
                <img src="img/charge_controller_3.png" style="width:200px;" class="img-fluid" />
            </div>

                          
            <div class="title text-center">
                <p>
                    Inverters
                </p>
                <div class="border"></div>
            </div>
            <p>
                This is a device that converts DC electricity into AC electricity, allowing the PV system to be used for appliances that require AC current. Inverters come in various forms and designs,
                There are 3 basic types of inverters which are Square wave, Modified (quasi) square wave and Sine wave.
            </p>
            <img src="img/inverter_1.png" style="width:200px;" class="img-fluid" />
            <p>This is the Micro-type that comes as an integral part in most of the Plug and Play Kits</p>

            <div>
                <img src="img/inverter_2.png" style="width:200px;" class="img-fluid" />
                
                <div class="title text-center">
                    <p>
                        Deep Cycle Batteries
                    </p>
                    <div class="border"></div>
                </div>
                <p>In the context of renewable energy, when batteries are referred to, it usually means deep cycle batteries (DCB). DCBs are an energy storage units in which a chemical reaction occurs that develops voltage and results in electricity. These batteries are designed to be cycled (discharged and recharged) many times. These batteries are significantly different from the normal/ ordinary car battery as illustrated below;</p>
            </div>
            <div>
                
                <div class="title text-center">
                    <p>
                        Differences between a Deep cycle battery and a normal car battery
                    </p>
                    <div class="border"></div>
                </div>
                <table class="table-">
                    <tr>
                        <td>Deep cycled batteries</td>
                        <td>Normal car batteries</td>
                    </tr>
                    <tr>
                        <td>These are aligned with thick plates inside</td>
                        <td>These are aligned with thin plates inside.</td>
                    </tr>
                    <tr>
                        <td>These are designed to power at a steady rate over a long period.</td>
                        <td>These are designed to deliver a burst of energy for a short time.</td>
                    </tr>
                    <tr>
                        <td>Used in stationed conditions (can’t resist shock)</td>
                        <td>Used in mobile conditions (can actually resist shock)</td>
                    </tr>
                    <tr>
                        <td>Enough capacity for the continuous charging</td>
                        <td>Its capacity is too small for continuous charging</td>
                    </tr>
                </table>
                <p>Currently there are four different types of deep cycle batteries. These are the flooded batteries, gel batteries and Absorbed Glass Mat (AGM) batteries, and more recently – lithium-ion. These are all made differently.Among conventional deep cycle batteries, the flooded battery is the most common, which is similar in appearance to the standard lead acid battery in your car. The gel batteries, as the name suggests, have a gel-like substance in them and the AGM batteries consist of acid suspended in a glass mat separator. The Flooded, AGM and gel batteries are used most frequently in off-grid scenarios with the gel as the most recommended type.</p>
            </div>
            <div>
                <table class="table" style="font-size:12px">
                    <tr>
                        <td>
                            <img src="img/battery_1.png" class="img-fluid" />
                            <p>
                                Figure 6: Flooded Lead Acid
                                Batteries
                            </p>
                        </td>
                        <td>
                            <p>Flooded lead acid batteries: or wet cells, are the oldest type of rechargeable battery still in use. This type of battery contains a liquid in an unsealed container. This means that the battery must be kept upright and in a well-ventilated area to ensure safe dispersal of the hydrogen gas produced by these batteries during overcharging.</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Common brands Include: Luminous, Trojan, Surrette and Deka, Sukam</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/battery_2.png" class="img-fluid" />
                            <p>
                                Figure 7: Absorbent Glass Matt
                                (AGM)
                            </p>
                        </td>
                        <td>
                            <p>
                                Absorbent glass mat: (AGM) is a class of lead-acid deep cycle battery in which the electrolyte is absorbed into a fiberglass mat. The plates in an AGM battery may be flat like wet cell lead-acid battery,

                                or they may be wound in a tight spiral. The internal resistance of AGM batteries is lower than traditional cells, they can handle higher temperatures, and self-discharge more slowly.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Common brands Include: Giant Power, Sun Xtender, Mastervolt, the Concorde, Luminous</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/battery_3.png" class="img-fluid" />
                            <p>
                                Figure 8: Gel batteries
                            </p>
                        </td>
                        <td>
                            <p>Gel Batteries: A gel battery (also known as a “gel cell”) is a sealed, valve regulated lead-acid deep cycle battery and has a gel electrolyte. Unlike flooded lead-acid (wet cell) batteries, these batteries do not need to be kept upright.</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Common brands Include: Deka, Champion, Sonnenschein, Victron, Trojan</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/battery_4.png" class="img-fluid" />
                            <p>
                                Figure 9: Lithium-ion battery
                            </p>
                        </td>
                        <td><p>Lithium-Ion: A relative newcomer to the field, being omnipresent in consumer electronics like cell phones and laptops. Lithium ion is physically smaller and lighter for a given capacity, it shows better performance characteristics, including a greater depth of discharge and less self-discharge, and if properly sized and managed, can survive more charge cycles and requires less user maintenance</p></td>
                    </tr>
                </table>
            </div>


            <div>
                <img src="img/schematic_power_load.png" class="img-fluid" />
               
                <div class="title text-center">
                    <p>
                        Illustration of a typical stand-alone PV System powering DC and AC loads
                    </p>
                    <div class="border"></div>
                </div>
            </div>
            <div>
                <table class="table-bordered" style="font-size:12px">
                    <tr class="colorBlue">
                        <td colspan="4">Tier 1</td>
                        <td colspan="4">Tier 2 &	Tier 3</td>
                        <td>Tier 4 & 5</td>
                    </tr>
                    <tr>
                        <td>Definition</td>
                        <td colspan="3">
                            <p>
                                Task lighting and phone charging
                                4 hours of power/day
                                1 hour power/evening
                                Lighting of 1,000 lmhr/day
                            </p>
                        </td>
                        <td colspan="4">
                            <p>
                                General lighting, phone charging, television and fan (if needed)<br />
                                4 hours of power/day or 8 hours of power/day<br />
                                2 hour power/evening or 3 hour power/evening<br />
                                Electrical lighting, air circulation, television, and phone charging are
                                possible<br />
                                Any medium-power appliances
                            </p>
                        </td>
                        <td>
                            <p>
                                Mini-grids with a
                                capacity 5.5 KW to
                                15KW
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>Technology</td>
                        <td colspan="8">
                            <table>
                                <tr>
                                    <td colspan="4">**Solar lanterns</td>
                                    <td colspan="4">Stand-alone solar home systems</td>
                                    <td>
                                        Utility scale generators/
                                        mini-grids
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">Pico-PV Systems 10.999Wp</td>
                                    <td colspan="5">Solar Home System >11Wp</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>
                            Single Light
                            only
                        </td>
                        <td>
                            Single Light
                            & Mobile
                            Charging
                        </td>
                        <td>
                            Multiple
                            Light &
                            Mobile
                            Charging
                        </td>
                        <td>
                            SHS, Entry
                            Level (3-4
                            lights, phone
                            charging,
                            powering radio,
                            fan etc)
                        </td>
                        <td>
                            SHS, Basic
                            capacity (as for
                            entry plus power
                            for TV, additional
                            lights, appliances &
                            capacity)
                        </td>
                        <td colspan="2">
                            SHS, Basic
                            capacity (as for
                            entry plus power
                            for TV, additional
                            lights, appliances &
                            capacity)
                        </td>
                        <td>
                            SHS, a higher capacity (as
                            above but with extended
                            capacities
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Solar Module
                            Capacities
                        </td>
                        <td>
                            0 – 1.499 Wp
                            (indicative)
                        </td>
                        <td>
                            1.5–2.999
                            Wp
                            (indicative)
                        </td>
                        <td>
                            3–10.999
                            Wp
                            (indicative)
                        </td>
                        <td>
                            11– 20.999
                            Wp
                        </td>
                        <td>21 – 49.999 Wp</td>
                        <td colspan="2">50 – 99.999 Wp</td>
                        <td>100Wp +</td>
                    </tr>
                </table>
                **A solar lantern meets Tier 1 on the Multi-Tier Framework for a household if it provides at least 1,000 lumen-hours (lmhr) / day and sufficient energy to keep a well-used mobile phone operational.
            </div>
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->


@code {

}
