@layout PlainLayout
@page "/faq"

<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Frequently Asked QUestions</h2>                
            </div>
        </div>
    </div>
</section>
<center>
    <div class="col-7" style="text-align:justify;">
        <div class="colorBlue mb-3">
            Frequently Asked Questions
        </div>
        <div class="card mb-2" style="width:46rem;">
            <div class="card-body">
                <p class="card-title">Q1. Now that spare parts to the SHS are taxed, how do I price them to cover my costs (taxes) and make a profit?</p>

                <p class="card-text">Answer: This will depend on the actual taxes paid at importation, some of the components or spare parts attract lower import duties than the others. It’s important to take not of these duties as they help inform the retail price to charge. Ensure that you consider the following factors when you are pricing: cater for the cost of the product, the expenses incurred to get the product to the customer and your profit margin.</p>
            </div>

        </div>

        <div class="card mb-2" style="width:46rem;">
            <div class="card-body">
                <p class="card-title">Q2. Why do LED bulbs suffer import duty at importation yet they are regarded as an integral part of the system generation and development?</p>

                <p class="card-text">
                    Answer: USEA/ KEREA/UNREEEA acknowledges that some previous tax exemptions have been abused by fraudulent businesses to maximize their profits and not to develop the industry and to reach the access goals. Therefore all solar players

                    in the EAC are absolutely committed to support their respective governments in fighting this abuse and to ensure that tax incentives are only used by companies that are delivering the results that government decided that they want to incentivize.

                    BDO, acting on behalf of USEA/KEREA/UNREEEA has applied for a ruling on the LEDs and we hope this ruling with put the matter to rest.

                    Furthermore, Legal Notice no EAC/83/2017 of 30th June, 2017 amended PART B-GENERAL EXEMPTIONS, by deleting paragraph 25 which reads as follows “Electrical Energy saving bulbs for lighting also known as Compact Fluorescent Bulbs”
                </p>
            </div>
        </div>

        <div class="card mb-2" style="width:46rem;">
            <div class="card-body">
                <p class="card-title">Q3. Why do deep cycle batteries (DCBs) suffer import duty yet they are listed in the 5th schedule of the EAC CMA 2004 as exempt goods from Import duty?</p>

                <p class="card-text">
                    Answer: Importers of DCBs as standalone have been subjected to import duty under Heading 85.07 (“Electric accumulators, including separators therefor, whether or not rectangular (including square) Lead-acid, of a kind used for starting piston engines”). This classification attracts import duty of 25%. For this reason, importers of DCBs for solar as stand-alone have been paying taxes.

                    The DCBs that should benefit from duty exemption (under paragraph 26 of the fifth schedule of the EAC CMA) are those used

                    for development of solar energy. The differnet tax aurthorities have argued that DCBs can be used for other purposes other than solar development and therefore not every importer should benefit from duty exemption.

                    For example in Uganda, the URA and USEA reached an agreement that once an importer provides proof (clearance letter from Ministry of Energy and USEA) that they members of USEA, they should benefit from the exemption.

                    Solar companies that import solar products in Kenya, there is a new process which requires letters initiated at the Ministry of Energy with a list of support documentation required.
                </p>
            </div>
        </div>

        <div class="card mb-2" style="width:46rem;">
            <div class="card-body">
                <p class="card-title"> Q4. The Pay As You Go solar players normally have marketing agents who are not their employees and whose role is to only look for clients and get some commission on the same. Are these agents regarded as employees or independent consultants who only suffer WHT?</p>

                <p class="card-text">Answer: This is dependent on the relationship and the contract the company has with the sales agents. It important to note that the company does not control their working style and hours, do not provide them with tools of work, office space, company identification cards, transport expenses etc.</p>

            </div>
        </div>
    </div>
</center>
@code {

}
