@layout PlainLayout
@page "/generalrules"

<center>    
    <div class="col-7" style="text-align:justify;">
        <h3 class="colorBlue">The General Interpretation Rules (GIRs)</h3>
        <p>There are six General Rules of Interpretation. Rules one to four are related and must be applied in sequence. Rules five and six stand on their own to be applied as needed.</p>
        <h5 style="color:darkblue">RULE 1</h5>
        <p>The titles of Sections, Chapters and subChapters are provided for ease of reference only; for legal purposes, classification shall be determined according to the terms of the headings and any relative Section or Chapter Notes and, provided such headings or Notes do not otherwise require, according to the following provisions [i.e. GIRs 2 to 6]:</p>
        <p>
            <em class="titleColor">Explanation:</em>This is the first Rule to be considered in classifying any product. For practical purposes, this means that the Section and Chapter titles can be used as 1guidelines to point the way to the area of the Tariff in which the product to be classified is likely to be found. However, articles may be included in or excluded from a Section or Chapter even though the titles might lead one to believe otherwise. Thus in order to classify a product, one must carefully check the Notes associated with any Sections and Chapters under consideration to see if the product is mentioned specifically as being included or excluded. Then it is necessary to go down to the Heading level and find a Heading that is worded in such a way as to include the product in question. Many goods should be correctly classifiable by reference to Rule 1 alone
        </p>
        <h5 style="color:darkblue">RULE 2</h5>
        <ol type="a">
            <li>Any reference in a heading to an article shall be taken to include a reference to that article incomplete or unfinished, provided that, as presented; the incomplete or unfinished article has the essential character of</li>
            <li>the complete or finished article. It shall also be taken to include a reference to that article complete or finished (or falling to be classified as complete or finished by virtue of this Rule), presented unassembled or disassembled.</li>
            <li> Any reference in a heading to a material or substance shall be taken to include a reference to mixtures or combinations of that material or substance with other materials or substances. Any reference to goods of a given material or substance shall be taken to include a reference to goods consisting wholly or partly of such material or substance. The classification of goods consisting of more than one material or substance shall be according to the principles of Rule 3</li>
        </ol>
        <p><em class="titleColor">Explanation:</em> Rule 2 (a) deals with the classification of unfinished, incomplete, unassembled or disassembled goods. Unfinished and incomplete goods can be classified under the same Heading as the same goods in a finished state provided that they have the essential character of the complete or finished article. As well, unassembled or disassembled goods may also be classified the same as the complete finished product.  This rule does not apply if the text of the Heading or the relevant Legal Notes exclude the unfinished or unassembled product in question. </p>
        <p>
            <em class="titleColor">Explanation:</em> Rule 2 (b) lays the groundwork for dealing with products, not classifiable through the use of Rule 1 or Rule 2 (a), which are composed of a mixture of materials or substances. It basically states that a Heading referring to a given material or substance includes mixtures of that substance with others. Similarly, a reference to a product composed of a given material or substance includes products composed either wholly or partly of the material or substance. This means that a mixed product may seem to be eligible for classification under two or more Headings. However, a given product can legally only be classified under one Heading. Rule 3 must be used to decide between alternate Headings.
        </p>
        <h5 style="color:darkblue">RULE 3</h5>
        <p>When by application of Rule 2 (b) or for any other reason, goods are, prima facie, classifiable under two or more headings, classification shall be effected as follows:</p>
        <ol type="a">
            <li>The heading which provides the most specific description shall be preferred to headings providing a more general description. However, when two or more headings each refer to part only of the materials or substances contained in mixed or composite goods or to part only of the items in a set put up for retail sale, those headings are to be regarded as equally specific in relation to those goods, even if one of them gives a more complete or precise description of the goods.</li>
            <li>Mixtures, composite goods consisting of different materials or made up of different components, and goods put up in sets for retail sale, which cannot be classified by reference to 3(a), shall be classified as if they consisted of the material or component which gives them their essential character, insofar as this criterion is applicable</li>
            <li>When goods cannot be classified by reference to 3(a) or 3(b), they shall be classified under the heading which occurs last in numerical order among those which equally merit consideration.</li>
        </ol>
        <p><em class="titleColor">Explanation:</em> Rule 3 (a) states that where 2 or more Headings seem to apply, the one which provides the most specific description of the product in question should be used. This means that a Heading which names the actual product should be used in preference to one which only names a category to which the product could belong. Similarly, a Heading that describes the whole product should be used in preference to one which describes part of it. However, where two Headings both only describe part of the product, this rule cannot be used to tell which one to use even if one seems more specific or detailed than the other. </p>
        <p><em class="titleColor">Explanation:</em> Rule 3 (b) applies to mixtures, composite goods and sets that cannot be classified by use of the previous Rules. These should be classified as if they consisted of the material or component which gives them their essential character. </p>
        <p>
            <em class="titleColor">Explanation:</em>  Rule 3 (c) is for use in cases in which a good seems to fit in more than one Heading and the essential character cannot be determined. In this case, the product should be classified under the Heading which occurs last in numerical order.
        </p>
        <h5 style="color:darkblue">RULE 4</h5>
        <p>Goods which cannot be classified in accordance with the above Rules shall be classified under the heading appropriate to the goods to which they are most akin. </p>
        <p>
            <em class="titleColor">Explanation:</em>This is a “last resort” rule, most often used with new products.
            70
        </p>
        <h5 style="color:darkblue">RULE 5</h5>
        <p>In addition to the foregoing provisions, the following Rules shall apply in respect of the goods referred to therein:</p>
        <ol style="a">
            <li>Camera cases, musical instrument cases, gun cases, drawing instrument cases, necklace cases and similar containers, specially shaped or fitted to contain a specific article or set of articles, suitable for long-term use and presented with the articles for which they are intended, shall be classified with such articles when of a kind normally sold therewith. This Rule does not, however, apply to containers which give the whole its essential character;</li>
            <li>Subject to the provisions of Rule 5 (a) above, packing materials and packing containers presented with the goods therein shall be classified with the goods if they are of a kind normally used for packing such goods. However, this provision does not apply when such packing materials or packing containers are clearly suitable for repetitive use</li>
        </ol>
        <p><em class="titleColor">Explanation:</em> Rule 5 specifies how to classify containers. Rule 5 (a) deals with containers which:</p>
        <ul>
            <li>Are shaped or fitted for the article they will contain</li>
            <li>Are suitable for long-term use,</li>
            <li>Protect the article when not in use</li>
            <li>Are of a kind normally sold with such articles,</li>
            <li>Are presented with the articles they are designed to contain</li>
        </ul>
        <p>Containers which have these characteristics can be classified with the products which they contain. However, in cases where the container gives the product its essential character, it would be the container which would have to be classified.</p>
        <p>
            <em class="titleColor">Explanation:</em>  Rule 5 (b) deals with othe r types of containers and packing materials. These should be classified with the goods they contain if they are of a kind normally used for packing such goods and are not suitable for repetitive use.
        </p>
        <h5 style="color:darkblue">RULE 6</h5>
        <p>
            For legal purposes, the classification of goods in the subheadings of a heading shall be determined according to the terms of those subheadings and any related Subheading Notes and mutatis mutandis, to the above Rules, on the understanding that only subheadings at the same level are comparable. For the purpose of this Rule the relative Section and Chapter Notes also apply, unless the context otherwise requires.
        </p>
    </div>
</center>


@code {

}
