@layout PlainLayout
@page "/home"

<figure class="textover">
    <img src="img/img_main_7.png" />
    <figcaption>
        <div class="border border-success rounded p-2 align-text-bottom" style="text-align:justify; height:20vw;">
            <h5 class="card-title">Welcome to the Solar Tax Portal</h5>
            <p class="card-text">The East African region has renewable energy associations (NREAs) in all countries; namely; BUREA-Burundi, EPD – Rwanda, KEREA – Kenya, TAREA-Tanzania and UNREEEA/USEA-Uganda. NREAs in EAC have played a critical role in advocating for a conducive policy environment in their various countries. Over the last decade, several efforts have been put in place to promote the use of off-grid energy as an affordable and inclusive energy source; these efforts include policy decisions on rural electrification, tax exemptions on solar equipment, improvement of quality standards, subsidy programmes and awareness raising of renewable energy as a more energy efficient alternative.</p>
        </div>
    </figcaption>
</figure>

@code {

}
