@layout PlainLayout
@page "/home"


<div class="hero-slider">
    <div class="slider-item th-fullpage hero-area" style="background-image: url(img/img_main_1.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">
                        Welcome to the Solar Tax Portal
                    </h1>
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">
                        The East African region has renewable energy associations (NREAs) in all countries
                        <br>BUREA-Burundi, EPD – Rwanda, KEREA – Kenya,
                        <br>TAREA-Tanzania and UNREEEA/USEA-Uganda.
                    </p>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main" href="regionalupdates">Explore Us</a>
                </div>
            </div>
        </div>
    </div>    
</div>

@code {

}
