@layout PlainLayout
@page "/levies"

@using SolarTaxApp.Client.ViewModels
@inject StateContainer stateContainer


    <section class="single-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Levies and other Import Declaration Fee</h2>                    
                </div>
            </div>
        </div>
    </section>
<center>
    <div class="col-7">
       
        
        <div class="col-12 col-md">
            <div class="title text-center">
                <p>
                    Infrastructure levy/Railway Development Levy or Industrial Development Levy
                </p>
                <div class="border"></div>
            </div>
            
            <p style="text-align:justify;">This is a levy that is imposed on goods imported from outside the East African Community (EAC). It is levied in all the partner states in order to collect funds needed for regional infrastructure projects. All imported goods (from outside EAC), except those exempted under the EACCMA EAC CET, are subject to a levy of 1.5 per cent on the customs value of imported goods. The levy is intended to mobilize funds for regional infrastructure projects that will assist in improving the infrastructure (e.g railway infrastructure development) and reduce the cost of transport and the cost of doing business in the region.</p>
        </div>
        @if (stateContainer.FocusCodeProperty == "KY")
        {
    <div class="col-4 col-md">
        <div class="title text-center">
            <p>
                Import Declaration Fees (Kenya only)
            </p>
            <div class="border"></div>
        </div>
        
        <p style="text-align:justify;">This is charged at importation in Kenya - the Import Declaration Fees are 2.25% of the Customs Value of the imported items and the fees are regarded as processing fees for declaring the details of imported items.</p>
    </div>

        }
         @if (stateContainer.FocusCodeProperty == "RW")
         {
    <div class="col-4 col-md">
        <div class="title text-center">
            <p>
                African Union Levy and Quality Inspection Levy (Rwanda only)
            </p>
            <div class="border"></div>
        </div>
        
        <p style="text-align:justify;">These are charged in Rwanda on all imported goods except those listed as exempt. The African Union Levy is 0.2%. Additionally, imported goods, regardless of whether they are exempted, are subject to a 0.2% Quality Inspection Fee (QIF). The levies are computed on the customs value of imported goods</p>
    </div>
         }
            
        
    </div>
</center>



@code {

}
