@layout PlainLayout
@page "/partners"

<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Our Partners</h2>
            </div>
        </div>
    </div>
</section>

<!-- Start Services Section
        ==================================== -->

<section class="services" id="services">
    <div class="container">
        <div class="row no-gutters">

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <img src="img/gogla.png" class="img-fluid" />
                    </div>
                    <h3>GOGLA</h3>
                    <p>
                        GOGLA is the global association for the off-grid solar energy industry. We are proud to champion one of the world’s most innovative and impactful sectors. Hundreds of millions of people already benefit from affordable, high-quality, clean off-grid solar products and services.
                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <img src="img/UKAID_.png" class="img-fluid" />
                    </div>
                    <h3>UKAID</h3>
                    <p>
                        UK Aid Direct is a £150 million programme which has changed the lives of over *9.5 million of the world’s poorest people with UK aid from the UK Government.

                        Funded by the former Department for International Development (DFID), now Foreign, Commonwealth & Development Office (FCDO), UK Aid Direct supports small and medium sized civil society organisations (CSOs), based in the UK and overseas, to achieve sustained poverty reduction and to achieve the United Nations’ Global Goals (opens in a new window).
                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <img src="img/UNREEA_.png" class="img-fluid" />
                    </div>
                    <h3>UNREEEA</h3>
                    <p>
                        Uganda National Renewable Energy and Energy Efficiency Alliance (UNREEEA) is a non-profit, non-partisan apex organisation of business associations and actors in the renewable energy and energy efficiency subsector. As an apex organisation, UNREEEA advocates for a conducive environment for private sector involvement in RE&EE to sustain its growth and development.
                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4  text-center">
                    <div class="service-icon text-center">
                        <img src="img/KEREA_.png" class="img-fluid" />
                    </div>
                    <h3>KEREA</h3>
                    <p>

                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <img src="img/USEA_.png" class="img-fluid" />
                    </div>
                    <h3>USEA</h3>
                    <p>

                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <img src="img/TEA_.png" class="img-fluid" />
                    </div>
                    <h3>TEA</h3>
                    <p>

                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <img src="img/BUREA.png" class="img-fluid" />
                    </div>
                    <h3>BUREA</h3>
                    <p>

                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <img src="img/EPD.png" class="img-fluid" />
                    </div>
                    <h3>EPD</h3>
                    <p>

                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->
        </div> <!-- End row -->
        </div> <!-- End container -->
</section> <!-- End section -->



@code {

}
