@layout PlainLayout
@page "/regionalupdates"
@using SolarTaxApp.Client.ViewModels
@inject StateContainer stateContainer



<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Regional Updates in the East African Community</h2>

            </div>
        </div>
    </div>
</section>

<section class="about-2 section" id="about">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="col-12">
                <div class="title text-center">
                    <h2></h2>
                    <p>
                        Cognizant of the need to strengthen regional cooperation in the area of renewable energy and energy efficiency within the framework of the regional integration process, the East African Community (EAC) Secretariat in 2019 requested that the United Nations Industrial Development Organization (UNIDO) support the establishment and first operational phase of the East African Centre for Renewable Energy)
                    </p>
                    <div class="border"></div>
                </div>
                <div class="text-center">
                    <p>EAC Centre of Excellence for Renewable Energy and Energy Efficiency (EACREEE) now operational in Kampala, Uganda</p>
                </div>
                <div class="text-center">
                    <p>
                        A new Centre of Excellence for Renewable Energy and Energy Efficiency (EACREEE) to complement and strengthen the ongoing EAC Partner States’ initiatives in the areas of policy and capacity development, knowledge management and raising awareness as well as investment and business promotion is now operational in Uganda effective March 2019. EACREEE is supported by the government of Uganda, Partner States and Development Partners as well as the private sector to give full support to the Centre
                    </p>
                </div>
                <div class="text-center">
                    <p>
                        A new Centre of Excellence for Renewable Energy and Energy Efficiency (EACREEE) to complement and strengthen the ongoing EAC Partner States’ initiatives in the areas of policy and capacity development, knowledge management and raising awareness as well as investment and business promotion is now operational in Uganda effective March 2019. EACREEE is supported by the government of Uganda, Partner States and Development Partners as well as the private sector to give full support to the Centre
                    </p>
                </div>
                <div class="text-center">
                    <p>
                        The EAC Secretariat pointed out that the focus of the energy sector is to ensure availability of sufficient, reliable, cost effective and environmentally friendly energy sources in the region across borders; promoting electricity interconnectivity to facilitate the broader EAC objectives of attracting investments and promoting competitiveness and trade. The Centre will provide the following services
                    </p>
                </div>
            </div>
            <!-- /section title -->

            <div class="col-md-6">
                <img src="img/img_main_4.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">

                <ul class="checklist">
                    <li>Develop and implement a coherent regional Renewable Energy and Energy Efficiency (RE&EE) policy; </li>
                    <li>Develop and execute regional programs and projects with other partners and mobilize funding; create synergies with ongoing programs; </li>
                    <li>Provide co-funding for demand-driven programs and projects executed by the private and public sector or civil society in the region (e.g. call for proposals and tenders); </li>
                    <li>provide a framework for capacity building activities and strengthen networks between research and training institutions as well as organize training of trainers workshops; </li>
                    <li>Update and provide RE&EE information and data for investors; </li>
                    <li>Act as think tank, lobbying agent and advisory platform for RE&EE in East Africa, and last; </li>
                    <li>Networking and co-organization of conferences, forums and workshops.</li>
                </ul>

            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->


<section class="pricing-table " id="pricing">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="col-12">
                <div class="title-white text-center ">
                    <p>
                        The East African Centre of Excellence for Renewable Energy and Efficiency expands partnership
                    </p>
                    <p>Following the Memorandum of Understanding (MoU) that was signed with the International Solar Alliance (ISA) to increase cooperation on Sustainable Development of Solar Energy in the East Africa Community (EAC) region. The EACREEE and the International Renewable Energy Agency (IRENA) signed yet another MoU, establishing a new partnership aimed at boosting renewable energy deployment and advancing the transition to a sustainable energy future in the East African Community (EAC) region.</p>
                    <p>The signing of an MOU between the IRENA and EACREEE marks a major milestone towards strengthening global partnerships that  are required to support EACREEE in implementing its Strategic Plan (2019-2023)</p>
                    <p>Within the framework of this MoU, IRENA and EACREEE will work closely across a number of key implementation focus areas, including cooperating and sharing information in the collection and analysis of data and research in areas of mutual interest, conducting joint capacity building activities under the Africa Clean Energy Corridor and establishing joint programmes with a view to accelerating the deployment of decentralized renewable energy solutions towards achieving universal energy access in the EAC. In the EAC region, IRENA is already implementing the Africa Clean Energy Corridor (ACEC) a regional initiative to accelerate the development of renewable energy</p>
                    <p>35 participants Successfully Completed the EAC Regional Training Course on Standalone Solar PV Systems Design and Installation in Nairobi- Kenya</p>
                    <p>The East African Regional Training Course on Standalone Solar PV Systems Design and Installation officially kicked off at Kenyatta University Conference Centre, Nairobi, Kenya with 35 participants (10 of them women) from the EAC Partner States.</p>
                    <p>The objective of the training course was to provide comprehensive and up-to-date, theoretical and practical knowledge on standalone solar power systems design and Installation. The training course consists of lectures and practical sessions on design and installation and Maintenance of solar PV Systems. It covered a variety of topics, including an overview of solar PV technology, introduction to basic electricity, system design requirements and technical specifications, load estimation, battery storage, software systems and operation and maintenance.</p>
                    <p>This initiative will boost investing in solar and other renewable energy technologies which is vital for provision of affordable, reliable, and sustainable energy for all by 2030.</p>
                    <p>This regional training is therefore very important for enhancing capacity of local professionals in the solar industry who will be able to assist with clarifying the technical aspects of these solar systems when it comes to taxation matters of solar generation and development.</p>
                    <p>The training course was organized by the East African Centre of Excellence for Renewable Energy and Efficiency (EACREEE) in collaboration with the International Solar Alliance (ISA), National Solar Energy Institute (INES) of France and Kenyatta University and support from Government of France, the United Nations Industrial Development Organization (UNIDO) and the Austrian Development Agency (ADA), Ministry of Energy Kenya and the East African Community (EAC) officially opened the East African Regional Training Course on Standalone Solar PV Systems Design and Installation.</p>
                    <p>Available opportunities to explore for solar companies and entrepreneurs in the EAC</p>

                    <div class="border"></div>
                    <ul>
                        <li><i class="tf-ion-ios-arrow-forward"></i>Capacity-building is a critical tool of the upcoming solar revolution worldwide and with such initiatives lobbying for policy changes as a collective effort is streamlined with a louder voice. </li>
                        <li><i class="tf-ion-ios-arrow-forward"></i>Stimulating investments in the region. EACREEE is working with a number of partners to develop a project “Accelerating the Deployment of Solar Photovoltaic Systems” in the East African Region. </li>
                        <li><i class="tf-ion-ios-arrow-forward"></i>Reducing the cost of finance and technology by mobilizing for funding needed by 2030 for massive deployment of solar energy, and paving the way for future technologies adapted to the local needs. </li>
                        <li><i class="tf-ion-ios-arrow-forward"></i>Reduction in competency limitation - competency limitation in most system designers and installers seriously reduces the overall performance/output of solar systems and increases operation and maintenance costs</li>

                    </ul>
                    <p>“The fight for universal access to energy is a war to be fought through capacity building. What is at stake now is not so much of technological innovation but establishing quality in solar projects that involve quality equipment, right design and sizing, efficient maintenance, eliminating the available tax constraints and involving both men and women to work together through the life of a solar project.”</p>
                </div>
            </div>
            <!-- /section title -->
            <!-- single pricing table -->
            
            <!-- end single pricing table -->


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->



@code {

}
