@layout PlainLayout
@page "/worldcustoms"
@using SolarTaxApp.Client.ViewModels
@inject StateContainer stateContainer

<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Harmonized System Coding and Classification</h2>

            </div>
        </div>
    </div>
</section>

<center>
    <div class="col-7" style="text-align:justify;">
        <h3 class="colorBlue">Areas to note from world customs </h3>
        <p>The Associations (USEA, KEREA, UNREEEA) and the industry players in the EAC region would like to also take cognizance of key definitions and guidance provided by the World Customs Organization with respect to classifying various products as follows:</p>
        <h5 class="colorBlue">Legal Note 3 to Section XVI (which contains Chapter 85) of the World Customs Organization</h5>
        <h5 style="color:darkblue">HS Nomenclature states that:</h5>
        <p>Unless the context otherwise requires, composite machines consisting of two or more machines fitted together to form a whole and other machines designed for the purpose of performing two or more complementary or alternative functions are to be classified as if consisting only of that component or as being that machine which performs the principal function</p>
        <h5 class="colorBlue">Legal Note 4 to Section XVI (which contains Chapter 85) of the World Customs Organization</h5>
        <h5 style="color:darkblue">HS Nomenclature states that:</h5>
        <p>Where a machine (including a combination of machines) consists of individual components (whether separate or interconnected by piping, by transmission devices, by electric cables or by other devices) intended to contribute together to a clearly defined function covered by one of the headings in Chapter 84 or Chapter 85, then the whole falls to be classified in the heading appropriate to that function</p>
        <p><em class="titleColor">General Rules for The Interpretation of the Harmonized System i.e. GRI 3(B) states that</em> Mixtures, composite goods consisting of different materials or made up of different components, and goods put up in sets for retail sale, which cannot be classified by reference to 3 (a), shall be classified as if they consisted of the material or component which gives them their essential character, insofar as this criterion is applicable. </p>
    </div>
</center>
@code {

}
