@page "/addstate"
@using SolarTaxApp.Client.ViewModels
@inject IStateViewModel stateViewModel
@using BlazorInputFile
@using System.IO

<div class="col-9">
    <h5>Add State / Country</h5>
    <EditForm Model="country" OnSubmit="Submit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <label for="statecode" class="control-label">
                            State Code
                        </label>
                    </td>
                    <td>
                        <InputText id="statecode" @bind-Value="country.Code" class="form-control"></InputText>
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        <label for="SeedType" class="control-label">
                            State Name
                        </label>
                    </td>
                    <td>
                        <InputText id="SeedType" @bind-Value="country.Statename" class="form-control"></InputText>
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        <label for="Seedsource" class="control-label">
                            Country Flag
                        </label>
                    </td>
                    <td>
                        <InputFile OnChange="@OnInputFileChange" class="form-control" />
                    </td>
                </tr>
                <br />
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Save" class="btn btn-primary col-4" />
                        &#8194;
                        <button type="button" class="btn btn-warning col-4"
                                @onclick="() => Cancel()">
                            &#8194;&#8201;Cancel&#8201;&#8194;
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </EditForm>
    <br />
    <br />
</div>
@if (DialogIsOpen)
{
    <Popup Caption="Add Category"
           Message="@message"
           OnClose="@OnDialogClose"
           Type="Popup.Category.Okay">
    </Popup>
}

@code {

    private Country country { get; set; }
    private byte[] ImgUploaded { set; get; }

    private string firstName;
    private string message;
    private bool DialogIsOpen = false;

    protected override void OnInitialized()
    {
        country = new Country();
    }


    private void Cancel()
    {

    }

    private async Task Submit()
    {
        stateViewModel.Country_ = country;
        var resp = await stateViewModel.InsertCountry();
        if (resp)
        {
            OpenDialog();
        }
    }
    private void OpenDialog()
    {
        DialogIsOpen = true;
        message = "State Saved";
        country = new Country();
    }
    private void OnDialogClose(bool isOk)
    {
        DialogIsOpen = false;
    }
    private async Task OnInputFileChange(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            ImgUploaded = ms.ToArray();
            country.Flag = $"data:image/png;base64,{Convert.ToBase64String(ImgUploaded)}";
        }
    }
}

